In [10]:
# https://www.geeksforgeeks.org/nested-queries-in-pymongo/?ref=lbp

# query = { 
#           '$and' : [
#                { operand_query_1},
#                { operand_query_2} 
#                    ]
#          }

In [11]:
import os
env_vars = !cat ../.env

# env_vars

In [12]:
# using TWO equal signs for the = otherwise the second = gets confused
for var in env_vars:
    key, value = var.split('==')
    os.environ[key] = value

In [13]:
# env_vars
# MONGO_URL=mongodb+srv://userid:password@cluster0.zadqe.mongodb.net/Scraping?retryWrites=true&w=majority

MONGO_URL = os.environ.get('MONGO_URL')
MONGO_USERID = os.environ.get('MONGO_USERID')
MONGO_PASSWORD = os.environ.get('MONGO_PASSWORD')
MONGO_DATABASE = os.environ.get('MONGO_DATABASE')
MONGO_COLLECTION_DIFF = os.environ.get('MONGO_COLLECTION_DIFF')
MONGO_COLLECTION_SCRAPE = os.environ.get('MONGO_COLLECTION_SCRAPE')

In [14]:
from pymongo import MongoClient
client = MongoClient(MONGO_URL)

db = client.Scraping
collection = db.Drudge

posts = list(db.Drudge.find({}))

In [15]:

# Example 1 : Create a collection called lecturers and retrieve using find().

import pprint
from pymongo import MongoClient
  
  
# client = MongoClient()
client = MongoClient(MONGO_URL)

  
Database = client["Scraping"]
lecturers = Database["Drudge"]
  
# lecturers.insert_many([
#    {"l_id":56, "d_id":1, "salary":50000},
#    {"l_id":57, "d_id":3, "salary":40000},
#    {"l_id":58, "d_id":4, "salary":90000},
#    {"l_id":59, "d_id":2, "salary":50000},
#    {"l_id":52, "d_id":1, "salary":70000},
#    {"l_id":53, "d_id":5, "salary":30000}
# ])

y = db.Drudge.count_documents({})
print(y)


# latest record
one = db.Drudge.find().sort('_id',-1).limit(1)
print(one)

# retrieving the documents
# for x in lecturers.find():
#     pprint.pprint(x)

5
<pymongo.cursor.Cursor object at 0x7f59c41e31f0>

In [16]:
# Following is the query to find oldest post in MongoDB collection

# db.Drudge.find().sort({ "_id" : 1 }).limit(1);

# Following is the query to find the youngest (recent) post in MongoDB collection

# db.Drudge.find().sort({ "_id" : -1 }).limit(1);

In [25]:
# db.Drudge.select({'$match': {'_id': ObjectId('61e09c2e42a1b39a86fd970e')}}).sort('_id':-1).limit(1)

db.Drudge.select({'$match': {'_id': ObjectId('61e09c2e42a1b39a86fd970e')}})

NameError: name 'ObjectId' is not defined

In [17]:

# Example 1 : Create a collection called lecturers and retrieve using find().

import pprint
from pymongo import MongoClient
  
  
# client = MongoClient()
client = MongoClient(MONGO_URL)

  
Database = client["GFG"]
lecturers = Database["lecture"]
  
lecturers.insert_many([
   {"l_id":56, "d_id":1, "salary":50000},
   {"l_id":57, "d_id":3, "salary":40000},
   {"l_id":58, "d_id":4, "salary":90000},
   {"l_id":59, "d_id":2, "salary":50000},
   {"l_id":52, "d_id":1, "salary":70000},
   {"l_id":53, "d_id":5, "salary":30000}
])
  
# retrieving the documents
for x in lecturers.find():
    pprint.pprint(x)

{'_id': ObjectId('61e11862223147b6fc57b9c6'),
 'd_id': 1,
 'l_id': 56,
 'salary': 50000}
{'_id': ObjectId('61e11862223147b6fc57b9c7'),
 'd_id': 3,
 'l_id': 57,
 'salary': 40000}
{'_id': ObjectId('61e11862223147b6fc57b9c8'),
 'd_id': 4,
 'l_id': 58,
 'salary': 90000}
{'_id': ObjectId('61e11862223147b6fc57b9c9'),
 'd_id': 2,
 'l_id': 59,
 'salary': 50000}
{'_id': ObjectId('61e11862223147b6fc57b9ca'),
 'd_id': 1,
 'l_id': 52,
 'salary': 70000}
{'_id': ObjectId('61e11862223147b6fc57b9cb'),
 'd_id': 5,
 'l_id': 53,
 'salary': 30000}
{'_id': ObjectId('61e1df0d0a92cd32e00588c2'),
 'd_id': 1,
 'l_id': 56,
 'salary': 50000}
{'_id': ObjectId('61e1df0d0a92cd32e00588c3'),
 'd_id': 3,
 'l_id': 57,
 'salary': 40000}
{'_id': ObjectId('61e1df0d0a92cd32e00588c4'),
 'd_id': 4,
 'l_id': 58,
 'salary': 90000}
{'_id': ObjectId('61e1df0d0a92cd32e00588c5'),
 'd_id': 2,
 'l_id': 59,
 'salary': 50000}
{'_id': ObjectId('61e1df0d0a92cd32e00588c6'),
 'd_id': 1,
 'l_id': 52,
 'salary': 70000}
{'_id': ObjectId('61e1df0d0a92cd32e00588c7'),
 'd_id': 5,
 'l_id': 53,
 'salary': 30000}

In [18]:
# lecturer records with salary less 
# than 50000 and arrange in ascending order.
pprint.pprint(list(lecturers.find({"salary":
                                  {'$lt':50000}}).sort('salary', 1)))

[{'_id': ObjectId('61e11862223147b6fc57b9cb'),
  'd_id': 5,
  'l_id': 53,
  'salary': 30000},
 {'_id': ObjectId('61e1df0d0a92cd32e00588c7'),
  'd_id': 5,
  'l_id': 53,
  'salary': 30000},
 {'_id': ObjectId('61e11862223147b6fc57b9c7'),
  'd_id': 3,
  'l_id': 57,
  'salary': 40000},
 {'_id': ObjectId('61e1df0d0a92cd32e00588c3'),
  'd_id': 3,
  'l_id': 57,
  'salary': 40000}]

In [19]:
# lecturer records with salary greater than 40000
# in department_id 1 and sort according to their 
# salary in descending order.
pprint.pprint(list(lecturers.find({'$and':
                                   [{"d_id":1},
                                    {"salary":
                                     {'$gte':50000}}]}).sort("salary", -1)))

[{'_id': ObjectId('61e11862223147b6fc57b9ca'),
  'd_id': 1,
  'l_id': 52,
  'salary': 70000},
 {'_id': ObjectId('61e1df0d0a92cd32e00588c6'),
  'd_id': 1,
  'l_id': 52,
  'salary': 70000},
 {'_id': ObjectId('61e11862223147b6fc57b9c6'),
  'd_id': 1,
  'l_id': 56,
  'salary': 50000},
 {'_id': ObjectId('61e1df0d0a92cd32e00588c2'),
  'd_id': 1,
  'l_id': 56,
  'salary': 50000}]

In [20]:
# Example 2 : Create a collection called books and retrieve using find().

import pprint
from pymongo import MongoClient
import datetime
  
  
# client = MongoClient()

client = MongoClient(MONGO_URL)

Database = client["GFG"]
books = Database["book"]
  
books.insert_many([
    {"author":"Samsuel", "book_id":54, "ratings":3,
     "publish":datetime.datetime(1999, 12, 6)},
      
    {"author":"Thomson", "book_id":84, "ratings":4,
     "publish":datetime.datetime(1996, 7, 12)},
      
    {"author":"Piyush Agarwal", "book_id":34, "ratings":1,
     "publish":datetime.datetime(2000, 9, 6)},
      
    {"author":"Shreya Mathur", "book_id":12, "ratings":2, 
     "publish":datetime.datetime(2017, 8, 8)},
      
    {"author":"Antony Sharma", "book_id":98, "ratings":4, 
     "publish":datetime.datetime(2003, 11, 5)},
])
  
# retrieving the documents
for x in books.find():
    pprint.pprint(x)

{'_id': ObjectId('61e11e10223147b6fc57b9d3'),
 'author': 'Samsuel',
 'book_id': 54,
 'publish': datetime.datetime(1999, 12, 6, 0, 0),
 'ratings': 3}
{'_id': ObjectId('61e11e10223147b6fc57b9d4'),
 'author': 'Thomson',
 'book_id': 84,
 'publish': datetime.datetime(1996, 7, 12, 0, 0),
 'ratings': 4}
{'_id': ObjectId('61e11e10223147b6fc57b9d5'),
 'author': 'Piyush Agarwal',
 'book_id': 34,
 'publish': datetime.datetime(2000, 9, 6, 0, 0),
 'ratings': 1}
{'_id': ObjectId('61e11e10223147b6fc57b9d6'),
 'author': 'Shreya Mathur',
 'book_id': 12,
 'publish': datetime.datetime(2017, 8, 8, 0, 0),
 'ratings': 2}
{'_id': ObjectId('61e11e10223147b6fc57b9d7'),
 'author': 'Antony Sharma',
 'book_id': 98,
 'publish': datetime.datetime(2003, 11, 5, 0, 0),
 'ratings': 4}
{'_id': ObjectId('61e1df0e0a92cd32e00588c9'),
 'author': 'Samsuel',
 'book_id': 54,
 'publish': datetime.datetime(1999, 12, 6, 0, 0),
 'ratings': 3}
{'_id': ObjectId('61e1df0e0a92cd32e00588ca'),
 'author': 'Thomson',
 'book_id': 84,
 'publish': datetime.datetime(1996, 7, 12, 0, 0),
 'ratings': 4}
{'_id': ObjectId('61e1df0e0a92cd32e00588cb'),
 'author': 'Piyush Agarwal',
 'book_id': 34,
 'publish': datetime.datetime(2000, 9, 6, 0, 0),
 'ratings': 1}
{'_id': ObjectId('61e1df0e0a92cd32e00588cc'),
 'author': 'Shreya Mathur',
 'book_id': 12,
 'publish': datetime.datetime(2017, 8, 8, 0, 0),
 'ratings': 2}
{'_id': ObjectId('61e1df0e0a92cd32e00588cd'),
 'author': 'Antony Sharma',
 'book_id': 98,
 'publish': datetime.datetime(2003, 11, 5, 0, 0),
 'ratings': 4}

In [21]:
# Query 1 : Display the record of books with ratings greater than 3 published after 2000.

# books with ratings greater than 3 published after 2000
pprint.pprint(list(books.find({'$and':
                               [{"ratings":
                                 {'$gt':3}},
                                {"publish":
                                 {'$gt':datetime.datetime(2000, 12, 31)
                                 }
                                }
                               ]
                              }
                             )
                  )
             )

[{'_id': ObjectId('61e11e10223147b6fc57b9d7'),
  'author': 'Antony Sharma',
  'book_id': 98,
  'publish': datetime.datetime(2003, 11, 5, 0, 0),
  'ratings': 4},
 {'_id': ObjectId('61e1df0e0a92cd32e00588cd'),
  'author': 'Antony Sharma',
  'book_id': 98,
  'publish': datetime.datetime(2003, 11, 5, 0, 0),
  'ratings': 4}]

In [22]:
# Query 2 : Display the record of the books with ratings greater than 1 and published between the year 1999 and 2016, sort in decreasing order.

# between 1999-2016
query ={'$and':
        [{"publish":
          {'$gte':datetime.datetime(1999, 1, 1)}}, 
         {"publish":
          {'$lte':datetime.datetime(2016, 12, 31)}}]}
  
# books with ratings greater than 1
# and published between the year 
# 1999-2016, sort in decreasing order.
pprint.pprint(list(books.find({'$and':
                               [{"ratings":
                                 {'$gt':1}},
                                query]}).sort("publish", -1)))

[{'_id': ObjectId('61e11e10223147b6fc57b9d7'),
  'author': 'Antony Sharma',
  'book_id': 98,
  'publish': datetime.datetime(2003, 11, 5, 0, 0),
  'ratings': 4},
 {'_id': ObjectId('61e1df0e0a92cd32e00588cd'),
  'author': 'Antony Sharma',
  'book_id': 98,
  'publish': datetime.datetime(2003, 11, 5, 0, 0),
  'ratings': 4},
 {'_id': ObjectId('61e11e10223147b6fc57b9d3'),
  'author': 'Samsuel',
  'book_id': 54,
  'publish': datetime.datetime(1999, 12, 6, 0, 0),
  'ratings': 3},
 {'_id': ObjectId('61e1df0e0a92cd32e00588c9'),
  'author': 'Samsuel',
  'book_id': 54,
  'publish': datetime.datetime(1999, 12, 6, 0, 0),
  'ratings': 3}]